<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="" type="text/css" />
		<title>MVC With Cats!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="static/burger.js"></script>

	</head>
	<body>

    <div class="container">
      
        <div>
          <img src=>
        </div>

        <h1>Burger!</h1>
      
      <br>
      

      {{{body}}}




      <form action="burger/create" method="POST"> 
        
        <div>
          <div></div> 

          <div>
            <label for="newBurger">Place your order!</label>
            <textarea class="form-control" id="newBurger" name="burger_name"></textarea>
          </div>

          <div></div> 
        </div>
      
          <button id="submit-button" type="submit" class="btn btn-danger">Submit</button>

      </form>

      <br>

    </div>

	</body>
</html>
